@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

li {
     text-decoration: none;
      color: inherit; 
}

 a {
    text-decoration: none;
     color: inherit; 
}

#app {
    background-color: #6C5ACA;
}

#iconolink {
    width: 30px;
    height: 32px;
    border-radius: 30%;
    background-color: #2F2467;
}

#githublink-button{
    background-color: #6C5ACA;
    margin-right: 5px;
}

#iconolink-button{
    background-color: #6C5ACA;
}

.App-container{
    height: 100%;
    background-color: #6C5ACA;
}
.App-hero{
    background-color: #6C5ACA;
    margin-top: 30px;
}

.App-hero-line{
    width: 100%;
    height: 25px;
    background-color: #503CB5;
}

.App-img{
    width: 90%;
    height: 55vh;
}

.Navbar-container{
    background-color: #3F308E;
    height: 110px;
}

.Navbar-botons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: #917DD4;
}


.Navbar-container a:hover {
     color: #FEFDFD;
}

.Carruceltitle{
    margin-top: 15%;
    margin-left: 15%;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: #FEFDFD;
}

.Carruceltitle-underline{
    margin-left: 15%;
    height: 5px;
    background-color: #FEFDFD;
    width: 70%;
}

.Carousel-container{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 45%;
    background-color: #6C5ACA;
}

.carousel-img{
    width: 800px;
    height: 400px;
}



.Skillset-title{
    margin-top: 15%;
    margin-left: 15%;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: #FEFDFD;
}

.Skillset-title-underline{
    margin-left: 15%;
    height: 5px;
    background-color: #FEFDFD;
    width: 70%;
}

.SkillsetImg-container{
    width: 50%;
    height: 400px;
    margin-top: 100px;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.SkillsetImg-html-container{
    width: 33%;
}
.SkillsetImg-html{
    width: 200px;
    height: 200px;
}
.SkillsetImg-html-underline{
    margin-top: 30px;
    margin-left: 25px;
    height: 5px;
    background-color: #FEFDFD;
    width: 45%;
}

.SkillsetImg-html-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-css-container{
    width: 33%;
}
.SkillsetImg-css{
    width: 200px;
    height: 200px;
}

.SkillsetImg-css-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-css-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-js-container{
    width: 33%;
}
.SkillsetImg-js{
    width: 200px;
    height: 200px;
}
.SkillsetImg-js-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-js-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-reactjs-container{
    width: 33%;
}
.SkillsetImg-reactjs{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.SkillsetImg-reactjs-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-reactjs-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-github-container{
    width: 33%;
}
.SkillsetImg-github{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.SkillsetImg-github-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-github-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-bootstrap-container{
    width: 33%;
}
.SkillsetImg-bootstrap{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.SkillsetImg-bootstrap-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-bootstrap-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-babel-container{
    width: 33%;
}
.SkillsetImg-babel{
    width: 200px;
    height: 200px;
    margin-top: 130px;
    padding-top: 35px;
}

.SkillsetImg-babel-underline{
    
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-babel-name{
    margin-bottom: 100px;
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

.SkillsetImg-webpack-container{
    width: 33%;
}
.SkillsetImg-webpack{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.SkillsetImg-webpack-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-webpack-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}


.SkillsetImg-nodejs-container{
    width: 33%;
}
.SkillsetImg-nodejs{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.SkillsetImg-nodejs-underline{
    margin-top:30px;
    margin-left:25px;
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.SkillsetImg-nodejs-name{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}


.Social-container{
    margin-top: 60%;
    width: 100%;
    height: 300px;
    background-color:  #3F308E;
}

.Social-links{
    margin-top: 125px;
    margin-right: 70px;
    color:#FEFDFD;
}

.Social-links-linkedin{
    width: 30px;
    height: 30px;
    
}

.Social-links-gmail{
    width: 30px;
    height: 30px;
}

.Social-coment-title{
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
    color: #FEFDFD;
}

.Social-coment-title-underline{
    height:5px;
    background-color:#FEFDFD;
    width:45%;
}

.Social-coment-words{
    margin-top: 30px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #FEFDFD;
}

/*


morado
social #1E1741
navbar #3F308E
lines  #503CB5
button #2F2467
fondos #6C5ACA
fuente #FEFDFD

*/